@import url("https://fonts.googleapis.com/css?family=Raleway")
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
margin: 1rem;
font-family: 'Mystery Quest', cursive;
font-size:19px;
line-height:1.5;
background-color: #FFDEE9;
background-image:radial-gradient( circle 651px at 7% 22.8%, rgba(232,249,255,1) 10.5%, rgba(229,199,206,1) 51.3%, rgba(219,199,229,1) 97.6% );}

article{
display:flex;
justify-content:center;
font-size:40px;
color:#FF69B4;}

p{
  display:inline-flex;
  justify-content:center;
  border-style:solid;
  border-color:black;
  color:black;}
  
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
   
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.popup {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 3rem 2rem;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.popup .popup-content  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.popup .popup-title {
  color: #FF69B4;
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 900;
  margin-top: 0;
}

.popup .popup-body {
  font-size: 1.1em;
  line-height: 1.6em;
  color: #6b7c93;
  font-weight: 500;
  margin-bottom: 2.1em;
 
}

.popup .popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 6px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

#btn-2 {
    background-image: repeating-linear-gradient(-45deg, 
      #7BDFF2 10px 30px,
      #B2F7EF 30px 50px,
      #EFF7F6 50px 70px,
      #F7D6E0 70px 90px,
      #F2B5D4 90px 110px
  );
  color: #FF69B4;
}

#btn-2:hover {
  background-position: 20% center;
}

.image{
display:flex;
justify-content:center;
width:auto;
height:500px;
}

@media screen and (max-width:720px) {
/*CSS code for devices with a maximal width of 720 px */
}


/* images and videos max out at full width */
