/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
margin: 1rem;
font-family: 'Mystery Quest', cursive;
font-size:19px;
line-height:1.5;
background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}
article{
display:flex;
justify-content:center;
  font-size:40px;
color:#ffa7b6;
  
}
p{
  display:inline-flex;
  justify-content:center;
  border-style:solid;
  border-color:black;
 color:black;
  
}
.button{
  display:flex;
  margin:auto;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(159, 43, 255);
  background: 	#111111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #D8BFD8;
  left: 6;
  top: 0;
  border-radius: 10px;
}


.image{
display:flex;
justify-content:center;
width:auto;
height:500px;
}



/* images and videos max out at full width */
